:root {
  --primary-color: #3c3d41;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --border-color: #a5a5a5;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --spacing-sm: 10px;
  --spacing-md: 20px;
}

body {
  font-family: sans-serif;
  color: var(--text-color);
  margin: 0;
}

header {
  background-color: #ffffff;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(1, 5, 5, 0.4);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.button-container > * {
  margin: 0 5px;
}

.button-container a, .button-container button {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #353535;
  border-radius: 5px;
  background-color: #dfddff;
  color: #000000;
  transition: background-color 0.3s ease;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
}

.button-container a:hover, .button-container button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.button-container img {
  max-height: 30px;
  vertical-align: middle;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  padding: var(--spacing-md);
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
}

#product-details img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: var(--spacing-md);
  border-radius: 10px;
}

.product-info, .product-contact {
  width: 100%;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.product-info h2,
.product-info p {
  text-align: left;
  margin-bottom: 10px;
}

.footer2 {
  background-color: #3c3d41;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.footer2 > div {
  margin: 0 10px;
}

.footer2 .left-text {
  text-align: center;
  width: 40%;
}

.footer2 .right-text {
  text-align: left;
  width: 50%;
}

.footer2 h4 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.favorite-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favorite-button:hover {
  background-color: #3c3d41;
}
