:root {
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --border-color: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --spacing-sm: 80px;
    --spacing-md: 80px;
  }
  
  body {
      font-family: sans-serif;
      margin: 0%;
      color: var(--text-color);
      background-color: rgb(216, 216, 216);
      
  }
  
  header {
    background-color: #ffffff;
    padding: 12px;
    height: 6%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: #ffffff;
    
  }
  
  .button-container > * {
    margin: 0 5px; 
    text-decoration: none;
    color: inherit; 
  }

   button{
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #333;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #353535;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    font-weight: 700;
    height: auto;
    vertical-align: middle;
    margin: 0 430px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
   }
  
  .button-container a, .button-container button {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #353535;
    border-radius: 5px;
    background-color: #dfddff;
    color: #000000;
    transition: background-color 0.3s ease;
    height: 30px; 
    line-height: 30px; 
    font-weight: 600;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    
  }

  .button-container img {
    height: auto;
    max-height: 30px; 
    vertical-align: middle;
    
  }


.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: var(--spacing-md);
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    a {
        color: inherit; 
      text-decoration: none;
    }
}

.cart-section {
      padding: var(--spacing-md);
      background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    color: inherit; 
}

.cart-section h2{
    text-align: center;
    text-decoration: none; 
  color: inherit; 
}
  #favorite-items {
       display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--spacing-md);
    
  }

.favorite-item {
      display: flex;
    flex-direction: column;
    align-items: center;
  border: 1px solid var(--border-color);
    padding: var(--spacing-sm);
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 7px var(--shadow-color);
    
    
  }
    
.favorite-item img {
      max-width: 100%;
      height: auto;
      margin-bottom: var(--spacing-sm);
        width: 150px;
      height: 150px;
      object-fit: cover;
       border-radius: 10px;
  }
     
.footer2 {
    background-color: #3c3d41;
    color: white;
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    margin-top: auto;   
    
  }
  
  .footer2 > div {
      margin: 0 10px; 
      
  }
  
  .footer2 .left-text {
    text-align: center;
    width: 40%; 
  }
  
  .footer2 .right-text {
    text-align: left;
    width: 50%; 
  }
  
  .footer2 h4 {
    font-size: 17px;
    font-weight: bold;
    margin: 0; 
  }
  .product {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 7px var(--shadow-color);
    width: 425px;
    height: 148px
    
  }
  
  .product-content {
      display: flex;
      align-items: center;
      text-align: center;

  }

   .product img {
    position: left;
    
      height: 150px;
      border-radius: 10px;

  }