* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: rgb(216, 216, 216);
    line-height: 1.6;
    flex-direction: column; 
    max-height: auto;
    
    
}

.container {
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1; 
}
header {
    background-color: #ffffff;
    padding: 12px;
    height: 6%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: #ffffff;
  }
  
  .button-container > * {
    margin: 0 5px; 
  }
  
  
  .button-container a, .button-container button {
    text-decoration: none;
    padding: 10px 15px; 
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #dfddff;
    color: #000000;
    transition: background-color 0.3s ease;
    height: 30px; 
    line-height: 30px; 
    font-weight: 600;
    
  }
  
  .button-container a:hover, .button-container button:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .button-container img {
    height: auto;
    max-height: 30px; 
    vertical-align: middle;
  }

.sidebar {
    flex: 0 0 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.personal-info h2 {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    
}


.personal-info p {
    margin-bottom: 10px;
    color: #555;
}
#edit-profile-button {
    background-color: #3c3d41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#edit-profile-button:hover {
    background-color: #3c3d41;
}
#profile-display {
    display: block;
}

/* Формы */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    font-size: 1em;
}
.form-group textarea{
    height: 100px;
}
.form-group input[type="file"]{
    border: none;
    padding: 0;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #3c3d41;
    outline: none;
}

form button[type="submit"], form button[type="button"] {
    background-color: #3c3d41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

form button[type="submit"]:hover, form button[type="button"]:hover {
    background-color: #3c3d41;
}
form button[type="button"] {
    background-color: #dfddff;
    color: #000;
    border: 1px solid #575757;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
form button[type="button"]:hover{
        background-color: #dfddff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: #000;
        border: 1px solid #575757;
}

#remove-product-image {
     background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}
#remove-product-image:hover{
    background-color: #5a6268;
}


#products {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#add-product-button {
    background-color: #3c3d41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}
#add-product-button:hover{
     background-color: #3c3d41;
}

#add-product-form-container h2 {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
#add-product-form {
    display: flex;
    flex-direction: column;
}

.footer2 {
    background-color: #3c3d41;
    color: white;
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    margin-top: auto;   
    position: fixed;
  }
  
  .footer2 > div {
      margin: 0 10px; 
      
  }
  
  .footer2 .left-text {
    text-align: center;
    width: 40%; 
  }
  
  .footer2 .right-text {
    text-align: left;
    width: 50%; 
  }
  
  .footer2 h4 {
    font-size: 17px;
    font-weight: bold;
    margin: 0; 
  }

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
     .sidebar {
       margin-bottom: 20px;
       margin-right: 0px;
        width: 100%;
    }
    .footer2{
        flex-direction: column;
         text-align: center;
    }
    .footer2 .left-text {
    text-align: center;
    width: 100%;
    }
    .footer2 .right-text {
    text-align: center;
    width: 100%;
    }
     #cart-image-button {
         width: 35px;
        height: 35px;
    }
    #profile-image-button{
        width: 35px;
        height: 35px;
    }
}